<div class="header">
  <header class='navbar'>
  <div class="col-xs-8">
    <a href="/">
      <h1 class='pull-left'>
        <span class="logo1">
        face
        </span>
        <span class="logo2">
        blog
        </span>
        <span class="glyphicon glyphicon-pencil glyph"></span>
      </h1>
    </a>
  </div>

  <div class="col-xs-4">
    <button ng-click="headerComp.signingUp()" class="pull-right btn btn-primary" type="submit">Sign Up</button>
    <button ng-click="headerComp.loggingIn()" class="pull-right btn btn-primary" type="submit">Log In</button>

    <form ng-submit="headerComp.createUser()" ng-if="headerComp.signUp">
      <input class="pull-right form-control" type="text" placeholder="username" ng-model="headerComp.newUser.username">
      <input class="pull-right form-control" type="email" placeholder="email" ng-model="headerComp.newUser.email">
      <input class="pull-right form-control" type="password" placeholder="password" ng-model="headerComp.newUser.password">
      <input class="pull-right form-control" type="url" placeholder="profile pic url" ng-model="headerComp.newUser.profilepic">
      <input class="signUpForm pull-right form-control" type="text" placeholder="bio" ng-model="headerComp.newUser.bio">
      <input class="pull-right btn btn-primary" type="submit" name="submit" value="submit" ng-click="headerComp.userSignedUp = true"></input>
    </form>
      <form ng-submit="headerComp.logInUser()" ng-if="headerComp.logIn">
        <input class="pull-right form-control" type="email" placeholder="email" ng-model="headerComp.logInInfo.email">
        <input class="pull-right form-control" type="password" placeholder="password" ng-model="headerComp.logInInfo.password">
        <input class="pull-right btn btn-primary" type="submit" name="submit" value="submit" ng-click="headerComp.currentUser = true"></input>
    </form>
  </div>
  </header>
  <h1 ng-if="headerComp.currentUser">Welcome Kim!</h1>
    <h1 ng-if="headerComp.userSignedUp">Account Created. Welcome Jacob!</h1>
</div>