
.navbar {
  background-color: lightblue;
  display: block;
}

input {
  display: block;
}


/* MAIN */
body {
	margin:0;
	padding-bottom:40px;
	font-family: 'Open Sans';
}

hr {
	border: none;
	height:1px;
	margin:15px;
}
.container {
	width: 900px;
	border: 2px solid #e0e0e0;
}

.well {
	padding:10px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat';
}


/* HOME */
#user-list-home {
	background-color: #ffffff;
	height: 1000px;
}

#post-list-home {
	background-color: #f5f5f5;
	height: 1000px;
	padding:20px;
}

#top-divider {
	height: 40px;
}

.user-row {
	border: 1px solid black;
	margin-bottom: 12px;/*
	margin-left:5px;
	margin-right:5px;*/
}

.user-image {
	width: 80px;
	height: 80px;
	margin-left:-10px;
}

.user-post {
	margin-bottom:30px;
}


/* PROFILE */
.user-profile-image {
	width: 200px;
	height: 200px;
	border: 2px solid #e0e0e0;
}

.profile-posts {
	background-color: #f5f5f5;
	height:600px;
	padding:30px;
	padding-top:10px;
	margin-bottom:20px;
}

.profile-userinfo {
	background-color:#fff;
	height:300px;
	padding-top:40px;
}


/* NEW POST */
.newpost {
	height:600px;
	background-color: #f5f5f5;
	padding:30px;
}

#new-post-form {
 margin-top:40px;
 margin-bottom:40px;
}

