
/* MAIN */
body {
	margin:0;
	padding-bottom:40px;
	font-family: 'Open Sans';
}

hr {
	border: none;
	height:1px;
	margin:15px;
}
.container {
	width: 900px;
}

.well {
	padding:10px;
}

h1, h2 {
	font-family: 'Raleway';
	font-weight:700;
}

h3, h4, h5 {
	font-family: 'Raleway';
	font-weight:600;
}


.btn-default {
	margin:5px;
}

.btn-primary {
	background-color: #607d8b;
}

.btn-primary:hover {
	background-color: #ffca28;
	border-color: #ffca28;
}

a  {
	color: #607d8b;
}

a:hover {
	color: #ffca28;
}

/* NAV/HEADER */
.navbar {
  display: block;
  height:100%;
  height:100px;
  padding:20px;
}

.nav {
  background-color: #546e7a;
}

.navbar a {
	color:#fff;
}

.navbar a hover {
	background-color:#000;
}

.navbar .form-control {
	margin-bottom:10px;
}

.header h1 {
	color: #fff;
	font-size:20px;
	font-weight:500;
	margin-left:60px;
}

input {
  display: block;
}

.logo1 {
	font-family: 'Raleway';
	font-weight:500;
	margin-right:-7px;
	font-size:30pt;
	border-bottom: none;
}

.logo2 {
	font-family: 'Lora';
	font-size:30pt;
	border: none;
}

.glyph {
	font-size:22pt;
	color: #ffca28;
}


/* HOME */
.home h1 {
	border-bottom: 3px solid #cfd8dc;
	padding-bottom:4px;
	margin-bottom:30px;
}

#user-list-home {
	background-color: #ffffff;
	height: 1000px;
	border-left: 3px solid #f5f5f5;
}

#post-list-home {
	background-color: #f5f5f5;
	height: 1000px;
	padding:20px;
}


.user-row {
	border: 1px solid black;
	margin-bottom: 12px;/*
	margin-left:5px;
	margin-right:5px;*/
}

.user-image {
	width: 80px;
	height: 80px;
	margin-left:-10px;
}

.user-post {
	margin-bottom:30px;
}


/* PROFILE */
.user-profile-image {
	width: 200px;
	height: 200px;
	border: 2px solid #e0e0e0;
}

.profile-posts {
	background-color: #f5f5f5;
	height:600px;
	padding:30px;
	padding-top:10px;
	margin-bottom:20px;
}

.profile-userinfo {
	background-color:#fff;
	height:300px;
	padding-top:40px;
}

.profile-username {
	width: 90%;
	border-bottom: 2px solid #e0e0e0;
}


/* NEW POST */
.newpost {
	height:600px;
	background-color: #f5f5f5;
	padding:30px;
}

#new-post-form {
 margin-top:40px;
 margin-bottom:40px;
}

